@model List<Blog.Models.Admin>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="display-6">My Blog</h1>

<a class="btn btn-dark" asp-controller="User" asp-action="Login">Logon As Admin</a>


<a class="btn btn-dark" asp-controller="Post" asp-action="Login">Login As User</a>