@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<form>
    <br>
    <h4 class="display-4">Update Profile</h4>
    <br>
    <div class="input-group mb-3">
        <label for="userName" class="form-label">User Name</label><br>
        <input type="text" class="form-control" placeholder="username" aria-label="Recipient's username" aria-describedby="basic-addon2">

    </div>


    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
    </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">Profile Picture</label>
        <input class="form-control" type="file" id="formFile">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>



